*.class

# package files
*.jar
*.war
*.ear

# binaries
/CCChargedMinersLauncher/build/*
/CCChargedMinersLauncher/dist/*
/CCChargedMinersSelfUpdater/build/*
/CCChargedMinersSelfUpdater/dist/*

# local settings
/CCChargedMinersLauncher/nbproject/private/*
/CCChargedMinersSelfUpdater/nbproject/private/*
